<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="../Content/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Asap:400i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Asap&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>

    <form class="login-form" action="LoginPost" method="post">
        <h1>Login</h1>
        <div class="txtb">
            <input type="text">
            <span data-placeholder="Username" name="Name" id="Name"></span>
        </div>
        <div class="txtb">
            <input type="password">
            <span data-placeholder="Password" name="Password" id="Password"></span>
        </div>  
        <input type="submit" class="logbtn" value="Login">
        @*<div class="forgot">
            Forgot account?
        </div>*@


    </form>

    <script type="text/javascript">
      $(".txtb input").on("focus",function(){
        $(this).addClass("focus");
      });

      $(".txtb input").on("blur",function(){
        if($(this).val() == "")
        $(this).removeClass("focus");
      });

    </script>


</body>
</html>
